.inp_cariSoal {
    border-radius: 4px;
    border: solid 0.2px gray;
    width: 400px;
}

.btnCariSoal {
    padding: 5px 10px;
    color: white;
    background-color: #0077FF;
    border: solid 1px #0077FF;
    width: fit-content;
    padding: 0.7rem 3rem;
    transition: 0.2s ease;
    border-radius: 4px;
}

.btnCariSoal:hover {
    background-color: white;
    color: #0077Ff;
    border: var(--blue) solid 1px;
    cursor: pointer;
}
.cardBankSoal{
    width: fit-content;
    height: fit-content;
    border-radius: 14px;
    transition: ease 0.2s;
}
.cardBankSoal:hover {
/* transform: translateY(-3px); */
box-shadow: grey 0px 0px 10px 0px;
}
