:root {
    --black: #000000;
    --blue: #0077FF;
}

.btnPrimary {
    padding: 5px 10px;
    color: black;
    background-color: white;
    border: solid 1px;
    width: fit-content;
    padding: 0.7rem 3rem;
    transition: 0.2s ease;
}

.btnPrimary:hover {
    background-color: var(--blue);
    color: white;
    border: var(--blue) solid 1px;
    cursor: pointer;
}

.btnPrimaryCostumWidth, .btnLogutCostumWidth{
    width: 100% !important;
    border-radius: 4px !important;
}

.btnLogut {
    padding: 5px 10px;
    color: white;
    background-color: rgb(255, 72, 72);
    border: solid 1px rgb(255, 72, 72);
    width: fit-content;
    padding: 0.7rem 3rem;
    transition: 0.2s ease;
}

.btnLogut:hover {
    background-color: white;
    color: rgb(255, 72, 72);
    border: rgb(255, 72, 72) solid 1px;
    cursor: pointer;
}

.bgGradientprimary {
    background: linear-gradient(to top, #FFFFFF, #F3F7FF);
}

.cardNormal {
    border-radius: 14px;
    box-shadow: gray 0px 4px 5px 0px;
    width: fit-content;
    height: fit-content;
}

.judulContent {
    font-size: 2.5rem;
    /* margin: 1.5rem 0; */
}

.contentSection {
    /* margin: 0 15%; */
}

.bgIconColor {
    background-color: var(--blue);
    color: white;
    border-radius: 50%;
    width: 4rem;
    text-align: center;
}

.bigCard {
    width: 534px;
    /* aspect-ratio: 1/1; */
    background: linear-gradient(to top, #FFFFFF, #F3F7FF);
    box-shadow: gray 0px 4px 5px 0px;
    border-radius: 14px;
}
