.imgHero {
    width: 274px;
    border-radius: 50%;
}

.hero {
    padding: 4rem 7rem;
    border-radius: 14px;
}
.costumShadow{
    box-shadow: gray 0px 4px 5px 0px;
}
.cardFeature {
    background: linear-gradient(to top, #FFFFFF, #F3F7FF);
    border-radius: 14px;
    width: 264px;
    aspect-ratio: 1/1;
}

.cardFeaturePanduan {
    border-radius: 14px;
    width: 150px;
    aspect-ratio: 1/1;
}

.iconFeature {
    width: 64px;
}

.imgContribution {
    border-radius: 14px;
}

.textContribution {
    width: 120px;
}

.cardContribution {
    width: 330px;
    border-radius: 14px;
}
