.imgHero {
    width: 274px;
    border-radius: 50%;
}

.hero {
    padding: 4rem 7rem;
    border-radius: 14px;
    box-shadow: gray 0px 4px 5px 0px;
}

.cardFeature {
    background: linear-gradient(to top, #FFFFFF, #F3F7FF);
    border-radius: 14px;
    box-shadow: gray 0px 4px 5px 0px;
    width: 264px;
    aspect-ratio: 1/1;
}

.iconFeature {
    width: 64px;
}
