.imgHero {
    width: 274px;
    border-radius: 50%;
}

.hero {
    padding: 4rem 7rem;
    border-radius: 14px;
}

.costumShadow {
    box-shadow: gray 0px 4px 5px 0px;
}

.cardFeature {
    background: linear-gradient(to top, #FFFFFF, #F3F7FF);
    border-radius: 14px;
    width: 264px;
    aspect-ratio: 1/1;
}

.cardFeaturePanduan {
    border-radius: 14px;
    width: 150px;
    aspect-ratio: max-content;
}

.iconFeature {
    width: 64px;
}

.imgContribution {
    border-radius: 14px;
}

.textContribution {
    width: 120px;
}

.cardContribution {
    width: 330px;
    border-radius: 14px;
}

@media (max-width: 1024px) {
    .hero {
        padding: 3rem 4rem;

    }
}

/* Mobile (Ukuran Kecil) */
@media (max-width: 768px) {
    .hero {
        padding: 2rem 2rem;
    }

    .cardFeature {
        background: linear-gradient(to top, #FFFFFF, #F3F7FF);
        border-radius: 14px;
        width: 180px;
        aspect-ratio: 1/1;
    }

}
